{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}Elenco rapporti CSV{% endblock %}

{% block branding %}
    <h1 id="site-name">{% trans 'DEPP Activity tracking system' %}</h1>
{% endblock %}

{% block content %}
    <h1>Sito di management delle attività</h1>
    <p>
    In questa pagina è possibile accedere a tutti i report CSV.
    </p>
    <ul>
        <li><a href="{% url 'admin:index' %}">Interfaccia di amministrazione</a></li>
        <li><a href="{% url 'overview_csv' %}">Report riassuntivo</a></li>
    </ul>


    {#    tabella per lavoratore #}
    <h2>Report per lavoratore</h2>
    <table class="table">
        <colgroup>
          <col style="background-color:#ffffff">
          <col span="2" style="background-color:#eeeeee">
          <col span="2" style="background-color:#e4e4e4">
        </colgroup>
        <tbody>
            <tr>
                <td colspan=1>&nbsp;</td>
                <td colspan=2><strong>Anno corrente</strong></td>
                <td colspan=2><strong>Tutto</strong></td>
            </tr>
            <tr>
                <td><strong>Lavoratore</strong></td>
                <td><strong>Mensile</strong></td>
                <td><strong>Settimanale</strong></td>
                <td><strong>Mensile</strong></td>
                <td><strong>Settimanale</strong></td>
            </tr>
            {% for w in workers %}
                <tr>
                    <th scope="row">{{ w.user.username }}</th>
                    <td>
                        <a href="{% url 'worker_csv' 'M' w.user.username 'latest' %}">Scarica</a>
                    </td>
                    <td>
                        <a href="{% url 'worker_csv' 'W' w.user.username 'latest' %}">Scarica</a>
                    </td>
                    <td>
                        <a href="{% url 'worker_csv' 'M' w.user.username 'all' %}">Scarica</a>
                    </td>
                    <td>
                        <a href="{% url 'worker_csv' 'W' w.user.username 'all' %}">Scarica</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    {#    tabella per progetto #}
    <h2>Report per progetto</h2>
    <table class="table">
        <colgroup>
          <col style="background-color:#ffffff">
          <col span="2" style="background-color:#eeeeee">
          <col span="2" style="background-color:#e4e4e4">
        </colgroup>
        <tbody>
            <tr>
                <td colspan=1>&nbsp;</td>
                <td colspan=2><strong>Anno corrente</strong></td>
                <td colspan=2><strong>Tutto</strong></td>
            </tr>
            <tr>
                <td><strong>Progetto (in grigio i progetti chiusi)</strong></td>
                <td><strong>Mensile</strong></td>
                <td><strong>Settimanale</strong></td>
                <td><strong>Mensile</strong></td>
                <td><strong>Settimanale</strong></td>
            </tr>
            {% for p in projects %}
                <tr {% if p.status == 0 %}style="background-color: #c2c2c2"{% endif %}>
                    <th scope="row">{{ p.name }}</th>
                    <td>
                        <a href="{% url 'project_csv' 'M' p.identification_code 'latest' %}">Scarica</a>
                    </td>
                    <td>
                        <a href="{% url 'project_csv' 'W' p.identification_code 'latest' %}">Scarica</a>
                    </td>
                    <td>
                        <a href="{% url 'project_csv' 'M' p.identification_code 'all' %}">Scarica</a>
                    </td>
                    <td>
                        <a href="{% url 'project_csv' 'W' p.identification_code 'all' %}">Scarica</a>
                    </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
{% endblock content %}